<p>Welcome <%= @email %>!</p>

<p>You can confirm your <a href="https://www.synura.com">Synura</a> account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
